.addFormDiv {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: #d2b48c;
}

.addFormDiv input[type="text"],
.addFormDiv input[type="date"],
.addFormDiv select {
    border: 1px solid #654321;
    border-radius: 3px;
}

.addFormDiv .submit-button,
.addFormDiv .undo-button {
    background-color: #8b4513; /* Brown background */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addFormDiv .submit-button:hover,
.addFormDiv .undo-button:hover {
    background-color: #654321;
}
