.titolo-container {
    border-bottom: 2px solid white;
}

#titolo h1 {
    margin-bottom: 0px;
}

.titolo-container button {
    background-color: #fff; /* Brown background */
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.titolo-container button:hover {
    background-color: #654321;
    color: white; /* Dark brown background on hover */
}

#dettagli-content {
    margin-top: 20px;
}

#dettagli-content > div {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}
