.card input[type="date"] {
    border: 1px solid #654321; /* Dark brown border for date input */
    border-radius: 3px;
}

/* Style for the select element */
.card select.esito {
    border: 1px solid #654321; /* Dark brown border for select */
    border-radius: 3px;
}

.card .remove-button:hover {
    background-color: #dc1414;
}

.card .targa[contenteditable="true"] {
    /* Your specific styles for contenteditable true */
    background-color: white; /* Example background color */
    color: black; /* Example text color */
    border: 1px solid black;
}

.card .save-change:hover {
    background-color: green;
}

.card .discard-changes:hover {
    background-color: #eeff00;
    color: black;
}
