/* Styles for the dot elements */
.targaDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.targa .dot {
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.targa .active-dot {
    background-color: #008000; /* Green dot for active targas */
}

.targa .non-active-dot {
    background-color: #dc1414; /* Red dot for non-active targas */
}
