.dot {
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.active-dot {
    background-color: #008000; /* Green dot for active targas */
}
.non-active-dot {
    background-color: #dc1414; /* Red dot for non-active targas */
}
