textarea.motivazione {
    width: 100%;
    min-height: 50px; /* Minimum height to start with */
    resize: none; /* Disable resizing */
}

textarea.auto-resize {
    height: auto !important; /* Reset height to auto */
}
