{% extends "base_generic.html" %}
{% block title %}<title>Dettaglio targa</title>{% endblock %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/genericCard.css' %}" />
    <link rel="stylesheet" href="{% static '/css/dettagliStyle.css' %}" />
    <link rel="stylesheet" href="{% static '/css/revisioneCard.css' %}" />
    <link rel="stylesheet" href="{% static '/css/targaCard.css' %}" />
    <link rel="stylesheet" href="{% static '/css/addForm.css' %}" />
    <link rel="stylesheet" href="{% static '/css/textarea.css' %}" />
{% endblock %}
{% block scripts %}
    <script src="{% static '/js/ajaxHelper.js' %}"></script>
    <script src="{% static '/js/resizeMotivazioneField.js' %}"></script>
    <script type="module"
            src="{% static '/js/initPages/initDettagliTarga.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="titolo-container d-flex justify-content-between align-items-center pb-2">
        <div id="titolo"></div>
        <button id="addButton" class="btn ms-auto">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div id="dettagli-content">
        <div class="targa">
            <div class="titolo"></div>
            <div id="targa" class="d-flex flex-wrap gap-3"></div>
        </div>
        <div class="veicolo mt-2">
            <div class="titolo"></div>
            <div id="veicolo" class="d-flex flex-wrap gap-3"></div>
        </div>
        <div class="revisione mt-2">
            <div class="titolo"></div>
            <div id="revisione" class="d-flex flex-wrap gap-3"></div>
        </div>
    </div>
{% endblock %}
{% block right_column %}
    <div class="col-sm-4 col-md-3 ms-sm col-lg-2 px-4 py-5 addFormDiv"
         style="display: none">
        <h2>Aggiungi nuova revisione</h2>
        <form id="addForm" class="d-flex flex-column gap-2">
            <div class="d-flex flex-column">
                <label for="addTarga" class="form-label">Targa:</label>
                <input type="text"
                       id="addTarga"
                       name="addTarga"
                       required
                       class="form-control">
            </div>
            <div class="d-flex flex-column">
                <label for="addDataRev" class="form-label">Data Revisione:</label>
                <input type="date"
                       id="addDataRev"
                       name="addDataRev"
                       required
                       class="form-control">
            </div>
            <div>
                <label for="addEsito" class="form-label">Esito:</label>
                <select id="addEsito" name="addEsito" required class="form-control">
                    <option value="">Select</option>
                    <option value="positive">Positivo</option>
                    <option value="negative">Negativo</option>
                </select>
            </div>
            <div id="addMotivazioneDiv" style="display: none;">
                <label for="addMotivazione">Motivazione:</label>
                <textarea class="motivazione"
                          oninput="autoResize()"
                          id="addMotivazione"
                          name="addMotivazione"></textarea>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="submit-button px-3 py-2">
                    Invia<i class="fa-solid fa-paper-plane ms-3"></i>
                </button>
                <button id="undoButton" class="undo-button px-3 py-2">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

