{% extends "base_generic.html" %}
{% block title %}<title>Ricerca revisioni</title>{% endblock %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/genericCard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/revisioneCard.css' %}">
    <link rel="stylesheet" href="{% static '/css/addForm.css' %}">
    <link rel="stylesheet" href="{% static '/css/textarea.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static '/js/resizeMotivazioneField.js' %}"></script>
    <script src="{% static '/js/ajaxHelper.js' %}"></script>
    <script type="module" src="{% static '/js/pages/revisione.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between searchContainer border-bottom pb-2">
        <form id="searchForm" class="d-flex flex-wrap gap-2">
            <div class="d-flex flex-column">
                <label for="numero" class="form-label">Numero:</label>
                <input type="text" id="numero" name="numero" class="form-control">
            </div>
            <div class="d-flex flex-column">
                <label for="targa" class="form-label">Targa:</label>
                <input type="text" id="targa" name="targa" class="form-control">
            </div>
            <div class="d-flex flex-column">
                <label for="dataRev" class="form-label">Data revisione:</label>
                <input type="date" id="dataRev" name="dataRev" class="form-control">
            </div>
            <div>
                <label for="esito" class="form-label">Esito:</label>
                <select id="esito" name="esito" class="form-control">
                    <option value="positive">Positivo</option>
                    <option value="negative">Negativo</option>
                    <option value="both" selected>Entrambi</option>
                </select>
            </div>
            <button type="submit" class="btn btn-light">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <button id="addButton" class="btn btn-light">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <!-- Search Results -->
    <div id="searchResults"
         class="d-flex justify-content-center flex-wrap gap-3 pt-4"></div>
    <form id="csrfTokenForm">
        {% csrf_token %}
    </form>
{% endblock %}
{% block right_column %}
    <div class="col-sm-4 col-md-3 ms-sm col-lg-3 px-4 py-5 addFormDiv"
         style="display: none">
        <h2>Aggiungi nuova revisione</h2>
        <form id="addForm" class="d-flex flex-column gap-2">
            <div class="d-flex flex-column">
                <label for="addTarga" class="form-label">Targa:</label>
                <input type="text"
                       id="addTarga"
                       name="addTarga"
                       required
                       class="form-control">
            </div>
            <div class="d-flex flex-column">
                <label for="addDataRev" class="form-label">Data Revisione:</label>
                <input type="date"
                       id="addDataRev"
                       name="addDataRev"
                       required
                       class="form-control">
            </div>
            <div>
                <label for="addEsito" class="form-label">Esito:</label>
                <select id="addEsito" name="addEsito" required class="form-control">
                    <option value="">Select</option>
                    <option value="positive">Positivo</option>
                    <option value="negative">Negativo</option>
                </select>
            </div>
            <div id="addMotivazioneDiv" style="display: none;">
                <label for="addMotivazione">Motivazione:</label>
                <textarea class="motivazione"
                          oninput="autoResize()"
                          id="addMotivazione"
                          name="addMotivazione"></textarea>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="submit-button px-3 py-2">
                    Invia<i class="fa-solid fa-paper-plane ms-3"></i>
                </button>
                <button id="undoButton" class="undo-button px-3 py-2">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
